*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'SF Pro Text',
    'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #07080F;
  color: #EDF0FF;
}

code {
  font-family: 'SF Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}
